einops==0.7.0
librosa==0.10.1
local_attention==1.9.0
loguru==0.7.2
numpy==1.24.4
parselmouth==1.1.1
pyworld==0.3.4
rich==13.7.0
scipy==1.11.3
soundfile==0.12.1
torch==2.0.1
torchaudio==2.1.1
torchcrepe==0.0.22
tqdm==4.66.1
typing_extensions==4.8.0
